
nav {
    background-color: gray;
    padding:30px,32px;
    
    
  


   


  }
  
  
  nav a{
    margin-right: 50px;
    margin-left: 20px;
    text-decoration: none;
    

  }
nav a.active{
    text-decoration:none;
    font-weight: bold;
    
    
} 
