




.cccc{
    margin-top: 10px;
    padding:20px;
    text-align: center;
}
.ddd{
    text-align:right;
}
.dddd{
   margin-top: 0;

    padding: 17px;

 
  
}


.ffff{
    margin-top: 4px;
   
    padding: 17px;
}
.gggg{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 35px;
    
}

.hhhhh{
    text-align: center;
    margin-top:50px;
    
}
.rr{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 45px;
}