
.hh{
    margin-left: 50px;
    margin-top: 50px;
}

.hhh{
    text-align: center;
    margin-top: 10px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.aa{
    margin-left: 0px;
    margin-top: 50px;
}
.ss{
    margin-top: 50px;
    margin-left: 70px;
    margin-right: 50px;
}
.a{
    margin-top: 10px;
}
