
.hello0{
    margin-left: 10px;
    width: 400px;
    background-color: brown;
    
}
.hello1{
    margin-left: 60%;
    background-color: black;
    width: 400px;
    margin-bottom: 30%;
}